altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
fonttools
gitdb
GitPython
idna
importlib_resources
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib~=3.9.4
narwhals
numpy~=2.0.2
packaging
pandas~=2.3.0
pillow
protobuf
pyarrow
pydeck
pyparsing
python-dateutil
pytz
referencing
requests
rpds-py
seaborn~=0.13.2
six
smmap
streamlit~=1.46.0
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
zipp

faker~=37.4.0